* {
    box-sizing: border-box;
    /*border: solid 1px;*/
}

html,
body {
    scroll-behavior: smooth;
    background-color: #211E55;
}

body {
    font-family: 微軟正黑體;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.embed-container {
    position: relative;
    top: 510px;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    z-index: 3;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#containter {
    height: 100%;
    position: relative;
    margin: 0px;
}

#top_nav {
    position: relative;
    margin: 0px;
    font-size: 14px;
    background-color: #211E55;
    top: -15px;
    height: 25px;
    letter-spacing: 1px;
    z-index: 5;
}

#top_nav ul li {
    position: relative;
    width: 75px;
    text-align: center;
    list-style-type: none;
    float: left;
    letter-spacing: 1px;
    left: 380px;
    font-weight: bold;
}

#top_nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    transition-duration: 0.5s;
}

#top_nav ul li a:visited {
    color: white;
}

#top_nav ul li a:hover {
    color: #FF8800;
}

#top_nav ul li a:active {
    color: white;
}

#Top_nav_2 {
    position: fixed;
    top: 0px;
    left: -3px;
    width: 100%;
    margin-left: 3px;
    height: 30px;
    /*border: solid 1px;*/
    font-size: 20px;
    font-weight: bold;
    background-color: #4E4F97;
    z-index: 3;
}

nav h1 {
    border: 0 solid transparent;
    border-top: 4px solid #f00;
    border-radius: 20px 0 0;
    color: white;
    position: relative;
    top: 20px;
    left: 20px;
    text-align: center;
    width: 150px;
    float: left;
    line-height: 50px;
    font-family: 'Dancing Script', cursive;
    font-style: italic;
}

label {
    float: right;
    padding-right: 35px;
    padding-top: 35px;
    line-height: 50px;
}

#burger {
    display: none;
}

#burger:checked~.menu {
    max-height: 400px;
}

nav {
    background-color: #4E4F97;
}

nav::after {
    content: "";
    display: block;
    clear: both;
}

#Top_nav_2 .menu {
    clear: both;
    background-color: #E4C6D0;
    max-height: 0px;
    overflow: hidden;
    transition: .5s;
    /* 動畫秒數 */
}

#Top_nav_2 .menu li {
    text-align: center;
    /*border-bottom: 1px solid #efefef;*/
    list-style: none;
    padding-left: 0;
}

#Top_nav_2 .menu li a {
    color: #005CAF;
    display: block;
    padding: 10px 0;
    font-size: 18px;
    text-decoration: none;
}

#Top_nav_2 .menu li a:hover {
    color: #E03C8A;
}

.banner {
    position: absolute;
    top: 110px;
    width: 100%;
    z-index: 2;
}

.ban {
    width: 100%;
}

section {
    position: relative;
    height: 100%;
    top: 530px;
    margin: 0px;
    background-color: #211E55;
    z-index: 3;
}

.bigtext {
    text-align: center;
    padding-top: 20px;
    /*margin-top: -250px;*/
}

.bigtext {
    color: white;
}

.bigtext h1 {
    font-size: 32px;
    text-shadow: 0 0 8px rgba(255, 100, 0, 1);
}

.bigtext h2 {
    font-size: 26px;
    font-family: 'Pattaya', sans-serif;
    letter-spacing: 6px;
    text-shadow: 0 0 8px rgba(255, 100, 0, 1);
}

.article {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    height: 750px;
    width: 100%;
    float: left;
    /*border: solid 1px;*/
}

.art_left {
    flex: 44%;
}

.article1 {
    background-color: #FCFCFC;
    float: left;
    margin-left: 30px;
    display: inline-block;
}

.article1 .arttxt_1 {
    position: relative;
    left: 23px;
    font-size: 16px;
    width: 50%;
}

.article1 .arttxt_2 {
    position: relative;
    left: 23px;
    width: 50%;
    font-size: 16px;
    color: #0582ca;
}

.article1 .arttxt_3 {
    position: relative;
    left: 23px;
    top: -2px;
    width: 50%;
    color: #003060;
    font-size: 24px;
}

.article1 .arttxt_4 {
    position: relative;
    left: 23px;
    top: -10px;
    width: 90%;
    color: #003060;
    font-size: 16px;
}

.artimg_1 {
    position: relative;
    display: block;
    width: 95%;
    top: 5px;
    margin: auto;
}

.art_right {
    flex: 50%;
    display: flex;
    flex-direction: column;
}

.article2 {
    position: relative;
    width: 90%;
    float: left;
    margin-left: 20px;
    background-color: #FCFCFC;
    box-shadow: 0px 0px 8px -2px #888888;
}

.box2 {
    position: relative;
    display: block;
    width: 60%;
    height: 100%;
    float: right;
}

.article2 .arttxt_1 {
    position: relative;
    margin-top: 10px;
    width: 50%;
}

.article2 .arttxt_2 {
    position: relative;
    width: 50%;
    top: -10px;
    font-size: 16px;
    color: #0582ca;
}

.article2 .arttxt_4 {
    position: relative;
    top: -20px;
    width: 90%;
    color: #003060;
    font-size: 16px;
}

.artimg_2 {
    position: relative;
    width: 40%;
    float: left;
    padding: 10px;
}

.article3 {
    position: relative;
    width: 90%;
    margin-left: 20px;
    background-color: #FCFCFC;
    margin-top: 10px;
    box-shadow: 0px 0px 8px -2px #888888;
}

.article3 .arttxt_1 {
    position: relative;
    font-size: 16px;
    margin-top: 10px;
    width: 40%;
}

.article3 .arttxt_2 {
    position: relative;
    width: 50%;
    font-size: 16px;
    color: #0582ca;
    top: -10px;
}

.article3 .arttxt_4 {
    position: relative;
    top: -20px;
    width: 90%;
    color: #003060;
    font-size: 16px;
}

.artimg_3 {
    position: relative;
    width: 40%;
    float: left;
    padding: 10px;
}

.article4 {
    position: relative;
    width: 90%;
    float: left;
    margin-left: 20px;
    background-color: #FCFCFC;
    margin-top: 10px;
    box-shadow: 0px 0px 8px -2px #888888;
}

.article4 .arttxt_1 {
    position: relative;
    font-size: 16px;
    margin-top: 10px;
    width: 40%;
}

.article4 .arttxt_2 {
    position: relative;
    width: 50%;
    font-size: 16px;
    color: #0582ca;
    top: -10px;
}

.article4 .arttxt_4 {
    position: relative;
    top: -20px;
    width: 90%;
    color: #003060;
    font-size: 16px;
}

.artimg_4 {
    position: relative;
    width: 40%;
    float: left;
    padding: 10px;
}

.article_2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 700px;
    padding-top: 15px;
    margin-left: 3px;
    /*border: solid 1px;*/
}

.art1 {
    background-color: #FCFCFC;
    flex: 23%;
    height: 80%;
    margin-left: 30px;
    display: inline-block;
    box-shadow: -1px 1px 8px -1px #888888;
    border-radius: 5px;
}

.art1:hover {
    transition-duration: 0.4s;
    box-shadow: -1px 1px 15px #888888;
    -webkit-filter: brightness(130%);
}

.art1 .arttxt_1 {
    position: relative;
    left: 23px;
    font-size: 16px;
    width: 50%;
}

.art1 .arttxt_2 {
    position: relative;
    left: 23px;
    top: -10px;
    width: 50%;
    font-size: 16px;
    color: #0582ca;
}

.art1 .arttxt_4 {
    position: relative;
    left: 23px;
    top: -20px;
    width: 80%;
    color: #003060;
    font-size: 16px;
}

.artimg_5 {
    position: relative;
    display: block;
    width: 95%;
    top: 5px;
    margin: auto;
}

.art2 {
    background-color: #FCFCFC;
    flex: 23%;
    margin-left: 10px;
    height: 80%;
    display: inline-block;
    box-shadow: -1px 1px 8px -1px #888888;
    border-radius: 5px;
}

.art2:hover {
    transition-duration: 0.4s;
    box-shadow: -1px 1px 15px #888888;
    -webkit-filter: brightness(130%);
}

.art2 .arttxt_1 {
    position: relative;
    left: 23px;
    font-size: 16px;
    width: 50%;
}

.art2 .arttxt_2 {
    position: relative;
    left: 23px;
    width: 50%;
    top: -10px;
    font-size: 16px;
    color: #0582ca;
}

.art2 .arttxt_4 {
    position: relative;
    left: 23px;
    top: -20px;
    width: 75%;
    color: #003060;
    font-size: 16px;
}

.artimg_6 {
    position: relative;
    display: block;
    width: 95%;
    top: 5px;
    margin: auto;
}

.art3 {
    background-color: #FCFCFC;
    flex: 23%;
    height: 80%;
    margin-left: 10px;
    display: inline-block;
    box-shadow: -1px 1px 8px -1px #888888;
    border-radius: 5px;
}

.art3:hover {
    transition-duration: 0.4s;
    box-shadow: -1px 1px 15px #888888;
    -webkit-filter: brightness(130%);
}

.art3 .arttxt_1 {
    position: relative;
    left: 23px;
    font-size: 16px;
    width: 50%;
}

.art3 .arttxt_2 {
    position: relative;
    left: 23px;
    width: 50%;
    top: -10px;
    font-size: 16px;
    color: #0582ca;
}

.art3 .arttxt_4 {
    position: relative;
    left: 23px;
    top: -20px;
    width: 80%;
    color: #003060;
    font-size: 16px;
}

.artimg_7 {
    position: relative;
    display: block;
    width: 95%;
    top: 5px;
    margin: auto;
}

.art4 {
    background-color: #FCFCFC;
    flex: 23%;
    height: 80%;
    margin-right: 35px;
    margin-left: 10px;
    display: inline-block;
    box-shadow: -1px 1px 8px -1px #888888;
    border-radius: 5px;
}

.art4:hover {
    transition-duration: 0.4s;
    box-shadow: -1px 1px 15px #888888;
    -webkit-filter: brightness(130%);
}

.art4 .arttxt_1 {
    position: relative;
    left: 23px;
    font-size: 16px;
    width: 50%;
}

.art4 .arttxt_2 {
    position: relative;
    left: 23px;
    top: -10px;
    width: 50%;
    font-size: 16px;
    color: #0582ca;
}

.art4 .arttxt_4 {
    position: relative;
    left: 23px;
    top: -20px;
    width: 80%;
    color: #003060;
    font-size: 16px;
}

.artimg_8 {
    position: relative;
    display: block;
    width: 95%;
    top: 5px;
    margin: auto;
}

@media screen and (min-width: 1024px) {
    label {
        display: none;
    }
    nav h1 {
        top: 5px;
    }
    #Top_nav_2 .menu {
        float: left;
        clear: none;
        position: relative;
        top: 20px;
        left: 220px;
        max-height: 50px;
        background-color: #4E4F97;
    }
    #Top_nav_2 .menu li {
        display: inline-block;
        border-bottom: #4E4F97;
    }
    #Top_nav_2 .menu li a {
        padding: 0 10px;
        color: white;
    }
    #Top_nav_2 .menu li a:hover {
        color: white;
    }
    .banner {
        top: 90px;
    }
}

@media (max-width:1024px) {
    .art_left {
        flex: 100%;
    }
    .article {
        height: 100%;
        padding-left: 10px;
        padding-right: 30px;
    }
    .article1 {
        width: 95%;
    }
    .article2,
    .article3,
    .article4 {
        width: 96%;
        margin-top: 15px;
        margin-left: 30px;
    }
    .article_2 {
        flex-wrap: wrap;
        padding-top: 35px;
        width: 100%;
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 120px;
    }
    .art1,
    .art2,
    .art3,
    .art4 {
        flex: 35%;
        margin: 8px;
    }
}

@media (max-width:768px) {
    .art1,
    .art2,
    .art3,
    .art4 {
        flex: 50%;
        margin: 8px;
    }
    .embed-container {
        top: 150px;
    }
}

@media(max-width:972px) {
    #top_nav ul li {
        display: none;
    }
    #top_nav {
        top: -30px;
    }
}