* {
    box-sizing: border-box;
    /*border: solid 1px;*/
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: 微軟正黑體;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#containter {
    height: 100%;
    position: relative;
    margin: 0px;
    background-color: ;
}

#top_nav {
    position: relative;
    margin: 0px;
    font-size: 14px;
    background-color: #0582ca;
    top: -15px;
    height: 25px;
    letter-spacing: 1px;
    z-index: 2;
}

#top_nav ul li {
    position: relative;
    width: 60px;
    text-align: center;
    list-style-type: none;
    float: left;
    letter-spacing: 1px;
    margin: 2px;
    left: 360px;
    font-weight: bold;
}

#top_nav ul .li_2 {
    width: 100px;
}

#top_nav ul .li_6 {
    width: 120px;
}

#top_nav ul .li_7 {
    width: 100px;
}

#top_nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    transition-duration: 0.5s;
}

#top_nav ul li a:visited {
    color: white;
}

#top_nav ul li a:hover {
    color: #FF8800;
}

#top_nav ul li a:active {
    color: white;
}

#Top_nav_2 {
    position: fixed;
    top: 0px;
    left: -3px;
    width: 100%;
    margin-left: 3px;
    height: 200px;
    /*border: solid 1px;*/
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    z-index: 1;
}

.icon {
    position: absolute;
    height: 90%;
    left: 80px;
    top: 15px;
    z-index: 2;
}

.icon:hover {
    opacity: 0.5;
    transition-duration: 0.3s;
}

label {
    float: right;
    padding-right: 35px;
    padding-top: 35px;
    line-height: 50px;
}

#burger {
    display: none;
}

#burger:checked~.menu {
    max-height: 400px;
}

nav {
    background: white;
}

nav::after {
    content: "";
    display: block;
    clear: both;
}

#Top_nav_2 .menu {
    clear: both;
    background-color: white;
    max-height: 0px;
    overflow: hidden;
    transition: .5s;
    /* 動畫秒數 */
}

#Top_nav_2 .menu li {
    text-align: center;
    border-bottom: 1px solid #efefef;
    list-style: none;
    padding-left: 0;
}

#Top_nav_2 .menu li a {
    color: black;
    display: block;
    padding: 10px 0;
    font-size: 18px;
    text-decoration: none;
}

#Top_nav_2 .menu li a:hover {
    color: #93FF93;
}

.banner {
    position: absolute;
    top: 190px;
    height: 800px;
    width: 100%;
}

.npust {
    height: 50%;
    width: 100%;
}

section {
    position: relative;
    top: 540px;
    height: 100%;
    margin: 0px;
    background-color: #ECF5FF;
}

.bigtext {
    text-align: center;
    padding-top: 20px;
}

.bigtext h1 {
    font-size: 32px;
}

.bigtext h2 {
    font-size: 26px;
    font-family: 'Pattaya', sans-serif;
    letter-spacing: 6px;
}

.article {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    height: 590px;
    width: 100%;
    float: left;
    /*border: solid 1px;*/
}

.art_left {
    flex: 44%;
}

.article1 {
    background-color: #FCFCFC;
    float: left;
    margin-left: 30px;
    display: inline-block;
}

.article1 .arttxt_1 {
    position: relative;
    left: 23px;
    font-size: 16px;
    width: 50%;
}

.article1 .arttxt_2 {
    position: relative;
    left: 23px;
    width: 50%;
    font-size: 16px;
    color: #0582ca;
}

.article1 .arttxt_3 {
    position: relative;
    left: 23px;
    top: -2px;
    width: 50%;
    color: #003060;
    font-size: 24px;
}

.article1 .arttxt_4 {
    position: relative;
    left: 23px;
    top: -10px;
    width: 50%;
    color: #003060;
    font-size: 16px;
}

.artimg_1 {
    position: relative;
    display: block;
    width: 95%;
    top: 5px;
    margin: auto;
}

.art_right {
    flex: 50%;
    display: flex;
    flex-direction: column;
}

.article2 {
    position: relative;
    width: 90%;
    float: left;
    margin-left: 20px;
    background-color: #FCFCFC;
    box-shadow: 0px 0px 8px -2px #888888;
}

.box2 {
    position: relative;
    display: block;
    width: 60%;
    height: 150px;
    float: right;
}

.article2 .arttxt_1 {
    position: relative;
    margin-top: 10px;
    width: 50%;
}

.article2 .arttxt_2 {
    position: relative;
    width: 50%;
    top: -10px;
    font-size: 16px;
    color: #0582ca;
}

.article2 .arttxt_4 {
    position: relative;
    top: -15px;
    width: 50%;
    color: #003060;
    font-size: 16px;
}

.artimg_2 {
    position: relative;
    width: 40%;
    float: left;
    padding: 10px;
}

.article3 {
    position: relative;
    width: 90%;
    margin-left: 20px;
    background-color: #FCFCFC;
    margin-top: 10px;
    box-shadow: 0px 0px 8px -2px #888888;
}

.article3 .arttxt_1 {
    position: relative;
    font-size: 16px;
    margin-top: 10px;
    width: 40%;
}

.article3 .arttxt_2 {
    position: relative;
    width: 50%;
    font-size: 16px;
    color: #0582ca;
    top: -10px;
}

.article3 .arttxt_4 {
    position: relative;
    top: -10px;
    width: 50%;
    color: #003060;
    font-size: 16px;
    top: -10px;
}

.artimg_3 {
    position: relative;
    width: 40%;
    float: left;
    padding: 10px;
}

.article4 {
    position: relative;
    width: 90%;
    float: left;
    margin-left: 20px;
    background-color: #FCFCFC;
    margin-top: 10px;
    box-shadow: 0px 0px 8px -2px #888888;
}

.article4 .arttxt_1 {
    position: relative;
    font-size: 16px;
    margin-top: 10px;
    width: 40%;
}

.article4 .arttxt_2 {
    position: relative;
    width: 50%;
    font-size: 16px;
    color: #0582ca;
    top: -10px;
}

.article4 .arttxt_4 {
    position: relative;
    top: -10px;
    width: 50%;
    color: #003060;
    font-size: 16px;
    top: -10px;
}

.artimg_4 {
    position: relative;
    width: 40%;
    float: left;
    padding: 10px;
}

.article_2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 580px;
    margin-left: 3px;
    /*border: solid 1px;*/
}

.art1 {
    background-color: #FCFCFC;
    flex: 23%;
    height: 80%;
    margin-left: 30px;
    display: inline-block;
    box-shadow: -1px 1px 8px -1px #888888;
    border-radius: 5px;
}

.art1:hover {
    transition-duration: 0.4s;
    box-shadow: -1px 1px 15px #888888;
    -webkit-filter: brightness(110%);
}

.art1 .arttxt_1 {
    position: relative;
    left: 23px;
    font-size: 16px;
    width: 50%;
}

.art1 .arttxt_2 {
    position: relative;
    left: 23px;
    width: 50%;
    font-size: 16px;
    color: #0582ca;
}

.art1 .arttxt_3 {
    position: relative;
    left: 23px;
    top: -2px;
    width: 50%;
    color: #003060;
    font-size: 24px;
}

.art1 .arttxt_4 {
    position: relative;
    left: 23px;
    top: -10px;
    width: 50%;
    color: #003060;
    font-size: 16px;
}

.artimg_5 {
    position: relative;
    display: block;
    width: 95%;
    top: 5px;
    margin: auto;
}

.art2 {
    background-color: #FCFCFC;
    flex: 23%;
    margin-left: 10px;
    height: 80%;
    display: inline-block;
    box-shadow: -1px 1px 8px -1px #888888;
    border-radius: 5px;
}

.art2:hover {
    transition-duration: 0.4s;
    box-shadow: -1px 1px 15px #888888;
    -webkit-filter: brightness(110%);
}

.art2 .arttxt_1 {
    position: relative;
    left: 23px;
    font-size: 16px;
    width: 50%;
}

.art2 .arttxt_2 {
    position: relative;
    left: 23px;
    width: 50%;
    font-size: 16px;
    color: #0582ca;
}

.art2 .arttxt_3 {
    position: relative;
    left: 23px;
    top: -2px;
    width: 50%;
    color: #003060;
    font-size: 24px;
}

.art2 .arttxt_4 {
    position: relative;
    left: 23px;
    top: -10px;
    width: 50%;
    color: #003060;
    font-size: 16px;
}

.artimg_6 {
    position: relative;
    display: block;
    width: 95%;
    top: 5px;
    margin: auto;
}

.art3 {
    background-color: #FCFCFC;
    flex: 23%;
    height: 80%;
    margin-left: 10px;
    display: inline-block;
    box-shadow: -1px 1px 8px -1px #888888;
    border-radius: 5px;
}

.art3:hover {
    transition-duration: 0.4s;
    box-shadow: -1px 1px 15px #888888;
    -webkit-filter: brightness(110%);
}

.art3 .arttxt_1 {
    position: relative;
    left: 23px;
    font-size: 16px;
    width: 50%;
}

.art3 .arttxt_2 {
    position: relative;
    left: 23px;
    width: 50%;
    font-size: 16px;
    color: #0582ca;
}

.art3 .arttxt_3 {
    position: relative;
    left: 23px;
    top: -2px;
    width: 50%;
    color: #003060;
    font-size: 24px;
}

.art3 .arttxt_4 {
    position: relative;
    left: 23px;
    top: -10px;
    width: 50%;
    color: #003060;
    font-size: 16px;
}

.artimg_7 {
    position: relative;
    display: block;
    width: 95%;
    top: 5px;
    margin: auto;
}

.art4 {
    background-color: #FCFCFC;
    flex: 23%;
    height: 80%;
    margin-right: 35px;
    margin-left: 10px;
    display: inline-block;
    box-shadow: -1px 1px 8px -1px #888888;
    border-radius: 5px;
}

.art4:hover {
    transition-duration: 0.4s;
    box-shadow: -1px 1px 15px #888888;
    -webkit-filter: brightness(110%);
}

.art4 .arttxt_1 {
    position: relative;
    left: 23px;
    font-size: 16px;
    width: 50%;
}

.art4 .arttxt_2 {
    position: relative;
    left: 23px;
    width: 50%;
    font-size: 16px;
    color: #0582ca;
}

.art4 .arttxt_3 {
    position: relative;
    left: 23px;
    top: -2px;
    width: 50%;
    color: #003060;
    font-size: 24px;
}

.art4 .arttxt_4 {
    position: relative;
    left: 23px;
    top: -10px;
    width: 50%;
    color: #003060;
    font-size: 16px;
}

.artimg_8 {
    position: relative;
    display: block;
    width: 95%;
    top: 5px;
    margin: auto;
}

@media screen and (min-width: 1024px) {
    label {
        display: none;
    }
    .menu {
        float: right;
        clear: none;
        max-height: 50px;
        background: #eee;
    }
    #Top_nav_2 li {
        display: inline-block;
    }
    #Top_nav_2 li a {
        padding: 0 15px;
    }
}

@media (max-width:1024px) {
    .art_left {
        flex: 100%;
    }
    .article {
        height: 100%;
        padding-left: 10px;
        padding-right: 30px;
    }
    .article2,
    .article3,
    .article4 {
        width: 96%;
        margin-top: 15px;
        margin-left: 30px;
    }
    .article_2 {
        flex-wrap: wrap;
        padding-top: 35px;
        width: 100%;
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 120px;
    }
    .art1,
    .art2,
    .art3,
    .art4 {
        flex: 35%;
        margin: 8px;
    }
}

@media (max-width:768px) {
    .art1,
    .art2,
    .art3,
    .art4 {
        flex: 50%;
        margin: 8px;
    }
}

@media(max-width:972px) {
    #top_nav ul li {
        display: none;
    }
    #top_nav {
        top: -30px;
    }
}